.breadcrum{
    margin-top: 32px;
    @media(max-width: 767px){
        margin-top: 23px; 
    }
    // background-image: url(../../../public/images/productbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #9f6d00;
    padding: 80px 0px;
    a {
        text-decoration: none;
        color: #9f6d00;
    }
}
.refund{
    .para{
        // width: 25%;
        @media (max-width:767px){
            width: 100%;
        }
    }
}