.home-slidebanner {
  margin-top: 32px;
  @media (max-width: 767px) {
    margin-top: 23px;
  }
  .learn-h-sec1 {
    // // background: url(../../../public/images/bannerdesktopnewmain.jpg) no-repeat
    //   bottom / cover;
    padding: 0 0 36% 0;
    position: relative;
    //margin-top: 50px;
    @media (max-width: 767px) {
      // // background: url(../../../public/images/bannermobilemain.jpg) no-repeat
      //   center / cover;
      padding: 0 0 136% 0;
      text-align: left;
    }
    .btn {
      position: absolute;
      left: 33%;
      top: 73%;
      width: 13%;
      height: 11%;
      font-size: 0;
      // // background-color: #08089b;
      @media (max-width: 767px) {
        left: 39%;
        top: 31%;
        width: 22%;
        height: 5%;
      }
    }
  }
  .learn-h-sec2 {
    // background: url(../../../public/images/10-off.jpg) no-repeat bottom /
      // cover;
    padding: 0 0 36% 0;
    position: relative;
    //margin-top: 50px;
    @media (max-width: 767px) {
      // background: url(../../../public/images/offerbannermobile1.jpg) no-repeat
        // center / cover;
      padding: 0 0 136% 0;
      text-align: left;
    }
    .btn {
      position: absolute;
      left: 43%;
      top: 73%;
      width: 13%;
      height: 11%;
      font-size: 0;
      // background-color: #08089b;
      @media (max-width: 767px) {
        left: 37%;
        top: 52%;
        width: 22%;
        height: 5%;
      }
    }
  }
}

.intro-main {
  // margin: 40px 0px;
  .newsbtn {
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  p {
    // margin-bottom: 30px;
    text-align: justify;
  }

  .intro-image {
    border-radius: 5px;
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
    }
  }
}

.ingredient-main {
  // margin: 80px 0px;
  // p{
  //   text-align: justify;
  // }
  .ingredient-side-content {
    margin: 70px 0px;
    @media (max-width: 767px) {
      margin: 10px 0px;
    }
  }
  .ingredient-image {
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
    }
  }
}
.benfits {
  color: #d7b56d;
  p{
    color: #d7b56d;
    font-weight: 600;
  }
  li {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: Poppins;
  }
  .intro-image {
    border-radius: 5px;
    // margin-bottom: 30px;
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
      margin-bottom: 15px;
    }
  }
  // // background-image: url(../../../public/images/all-banner.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  @media (max-width: 767px) {
    // // background-image: url(../../../public/images/backgroundimage1.jpg);
  }
  .ben-list {
    // background-color: #000;
    border: 1px solid #d7b56d;
    box-shadow: -2px 2px 2px 0px #d7b56d;
    margin-bottom: 11px;
    font-weight: 900;
  }
}

.testimony-main {
  // margin: 80px 0px;
  .testimonial-body {
    // background-color: #fff;
    border-radius: 5px;
    box-shadow: -3px 3px 3px 3px #d7b56d;
    // p{
    //   text-align: justify;
    // }
    .user-div {
      // display: flex;
      justify-content: center;
      @media (max-width: 767px) {
        // padding-right: 9px;
      }
      .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
      .star-size {
        font-size: 18px;
        color: #d7b56d;
        // width: 20%;
        padding: 3px 0px;
        // width: 54%;
      }
      .user-name {
        font-style: italic;
        font-size: 13px;
        font-weight: bold;
        padding-top: 10px;
      }
    }
    .view-btn {
      cursor: pointer;
      font-weight: 700;
    }
    .testi-image {
      width: 100% !important;
      height: 600px !important;
    }
  }

  //   h3 {
  //     font-size: 48px;
  //     margin: 30px 0px;
  //   }

  //   h6 {
  //     font-size: 24px !important;
  //   }
}

.blogdetail1 {
  padding-top: 40px;
  padding-bottom: 40px;

  h3 {
    height: 17px;
    font-size: 1.4rem !important;
    line-height: 1.5;
    font-weight: 800;
  }

  .blogdetailflex {
    margin-top: 40px;

    @media (max-width: 767px) {
      margin-top: 94px;
    }
  }

  .blogdetailP {
    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }

  .blogdetailP2 {
    margin-top: 20px;

    @media (max-width: 767px) {
      margin-top: 0px;
    }
  }

  .blogdetails-image {
    max-width: 620px;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
// .offer {
//   // background: url(../../../public/images/offerbanner.jpg) no-repeat bottom /
//     cover;
//   padding: 0 0 35% 0;
//   position: relative;
//   @media (max-width: 767px) {
//     // background: url(../../../public/images/offerbannermobile.jpg) no-repeat
//       bottom / cover;
//     padding: 0 0 136% 0;
//     position: relative;
//   }
// }
.reel {
  .video-wid {
    width: 246px !important;
    height: 420px !important;
    border-radius: 10px;
    @media (max-width: 767px) {
      width: 95% !important;
      height: 300px !important;
    }
  }
}
